/*{
    margin: 0;
    padding: 0;
    color: white;
    
}
header{
    height: 40px;

}
div{
    background-color: rgba(17, 3, 3, 0.973);
    height: 40px;
    
}
button{
    background-color: yellow;
}
#logo{
    color: orange;
    font-size: 20px;
}
a{
    margin-right: 190px;
    text-decoration: none;
    color: white;
}


.content {
    
    display: flex;
    gap: 10px;
    margin-top: 100px;
    background-color: white;

}
/*
.ab{
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    border: 2px black solid ;
}
footer{
    margin-top: 300px;
    background-color: black;
    color:white;
    text-align: center;
} 


#box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 20px;
}
#box2{
    height: 60px;
    width: 60px;
    margin-left: 30%;
    background-color: red;
    align-content: center;

}
*/
/*div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px black solid;
    display: inline-block;
}

#box1{
    position: static;
    
}
#box2{
    position: relative;
   
    top: 10px;
}
#box3{
    position: absolute;
    top: 500px;
    left: 10px;
}
#box4{
    position: fixed;
    top: 0px;
}
*/
/*
#box1{
    background-image: url("flower.jpg");
    background-size: cover;
    
}
*/
/*

body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    border: 2px black solid;
    display: inline-block;
    
}
#container{
    justify-content: center;
    height: 400px;
    width: 800px;
    display: flex;
    background-color: white;
    flex-direction: row;
    align-content: first baseline;
#box1{
     background-color: green;
}
#box2{
    background-color: pink;
    height: 200px;
    flex-grow: 1;
}
#box3{
    background-color: burlywood;
}
#box4{
    background-color: red;
}
#box5{
    background-color: blue;
}*/
/*
.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: red;
    background-color: white;
    
}
li{
    list-style-type: none;
    display: inline;
    
}
.outer{
    background-color: green;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center; /*for align horizontal*/
    /*align-items : center; */    /*for align vertical

.inner{
    background-color:yellow;
    height:200px;
    width: 200px;
}
*/
/*media query*/

div{
    background-color: black;
    height: 50px;
    width: 50px;
}
@media(min-width:600px){
    div{
        background-color: blue;
    }
}
@media(max-width:300px){
    div{
        background-color: green;
    }
}
@media(min-width:300px) and (max-width:400px){
    div{
        background-color: pink;
    }
}
@media(min-width:400px) and (max-width:600px){
    div{
        background-color: red;
    }
}