/*  
h1 {
    color:  rgb(103, 216, 160);

}
p {
    color: darkviolet;
}
button {
    color: rgb(194, 255, 192);
}
body {
    background-color: white;
}

div {
    background-color: blue;
}
button {
    background-color:black ;
}*/
/*
p {
    text-align: left ;
    font-weight: 1000;
    font-family: arial;
}
h1 {
    color: black;
    text-align: center;
    text-decoration: underline;
    background-color: darkgreen;
}
body{
   background-color:  red;
}
/*

/* unit in css...
           (pixels)
  
           #one{
          font-size: 20px;  
           }
           #two{
            font-size: 40px;
           }
           #three{
            font-size: 30px;
           }

p{
    line-height: 30px;
    text-transform: capitalize;
}

/*box model(height,width ,badding,border)
div{
     height: 100px;
     width: 100px;
     color: white;
    background-color: black;
    border-width: 10px;
    border-style: solid;
}
*/
/* border designing */
/*div{
   /* background-color: rgb(58, 173, 43);
    text-decoration-style: solidS;
    width: 100px;
    height: 100px;
    border: solid rgb(255, 0, 0) 2px;
    /*border-radius: 10px;*/
   /* padding: 50px 20px 30px 20px;
    margin-top: 10px;*/

* {
    padding: 0;
    margin: 0;
    color: white;

}
div {
    height: 60px;
    background-color: black;
    
}
button {
    background-color: yellow;


}
#logo {
    color: rgb(255, 102, 0);
    font-size: 25px;
}
a {
    margin-right: 190px;
    text-decoration: none;
}