/*{
    margin: 0;
    padding: 0;
    color: white;
    
}
header{
    height: 40px;

}
div{
    background-color: rgba(17, 3, 3, 0.973);
    height: 40px;
    
}
button{
    background-color: yellow;
}
#logo{
    color: orange;
    font-size: 20px;
}
a{
    margin-right: 190px;
    text-decoration: none;
}


.content {
    
    display: flex;
    gap: 10px;
    margin-top: 100px;
    background-color: white;

}
.ab{
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    border: 2px black solid ;
}
footer{
    margin-top: 300px;
    background-color: black;
    color:white;
    text-align: center;
} 


#box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 20px;
}
#box2{
    height: 60px;
    width: 60px;
    margin-left: 30%;
    background-color: red;
    align-content: center;

}
*/
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px black solid;
    display: inline-block;
}
/*
#box1{
    position: static;
    
}
#box2{
    position: relative;
   
    top: 10px;
}
#box3{
    position: absolute;
    top: 500px;
    left: 10px;
}
#box4{
    position: fixed;
    top: 0px;
}
*/
#box1{
    background-image: url("flower.jpg");
    background-size: cover;
    
}
